name: Docker Image CI / Pablo Landeta

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest

    steps:
    - name: Chekout code
      uses: actions/checkout@v4
      
    - name: Login to Dockerhub
      uses: docker/login-action@v2
      with: 
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }}
       
    - name: Build and push
      uses: docker/build-push-action@v4
      with: 
       context: .
       push: true
       tags: palandeta/isa-oct25-cicd-docker:flaskapp

    - name: Deployment
      uses: appleboy/ssh-action@v0.1.8
      with:
       host: ${{ secrets.SSH_HOST }}
       username: ${{ secrets.SSH_USER }}
       key: ${{ secrets.SSH_KEY }}
       port: ${{ secrets.SSH_PORT }}
       script: |
        docker image pull palandeta/isa-oct25-cicd-docker:flaskapp
        docker container stop flask
        docker container rm flask
        docker container run -d --name flask -p80:5000 palandeta/isa-oct25-cicd-docker:flaskapp
